
rect:hover {
    fill: orange;
}

.container {
  position: relative;
  width: 2000px;
  height: 500px;
}


.history-container {
  top: 50px;
}

.hist-info-container {
  position: relative;
  margin-top: 70px;
  margin-left: 10px;
}

.bar-info-container {
  margin-top: 20px;
  margin-left: 10px;
}

.hist-info {
  width: 2000px;
  height: 80px;
  background-color: #5e5e5e;
  border: 5px solid #333;
  border-radius: 8px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color:#e0e0e0;
  user-select: none;
}


.Blitz-hist { z-index: 3; }
.Rapid-hist { z-index: 1; }
.Bullet-hist { z-index: 1; }
  

#Blitz-hist { z-index: 3; }
#Rapid-hist { z-index: 1; }
#Bullet-hist { z-index: 1; }
  

.box {
  position: absolute;
  width: 2000px;
  height: 500px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  font-weight: bold;
  border: 5px solid #333;
  border-radius: 8px;
  opacity: 1.0;
  user-select: none; /* Standard */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  white-space: nowrap; /* Prevent the content from wrapping */
}


.barGraph {
  padding: 10px;
  padding-bottom: 30px;
  position: absolute;
  left: 0px;
  background-color: lightgray;
}

#winsGraphContainer { z-index: 3; }
#lossesGraphContainer { z-index: 1; }
#drawsGraphContainer { z-index: 1; }

#graph-container {
    overflow: hidden;
    width: 2000px;
    height: 500px;
    border: black;
    border-style: solid;
    border-radius: 1em;
}

.box::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.box::-webkit-scrollbar:horizontal {
  top: -20px;
}

.box::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Position the scrollbar outside the div */
.box::-webkit-scrollbar-corner,
.box::-webkit-scrollbar-track {
  display: none; /* Hide the default scrollbar track and corner */
  background: transparent; /* Set the background to transparent */
}

/* Set the position of the custom scrollbar */
.box::-webkit-scrollbar-thumb:vertical {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Apply custom styles to the arrow icon in select (works in Chrome and Safari) */
#graph-title::-webkit-inner-spin-button,
#graph-title::-webkit-outer-spin-button {
  appearance: none; 
  margin: 0px;
}

/* Apply custom styles to the arrow icon in select (works in Firefox) */
#graph-title::-moz-focus-inner {
  border: 0;
}

/* Hover and focus styles */
#graph-title:hover,
#graph-title:focus {
  border-color: #999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
}

/* Disabled style */
#graph-title:disabled {
  opacity: 0.5;
}

#third-container {
  margin: 50px;
  border-radius: 8px;
  white-space: nowrap;

}

#donut-chart {
  width: 500px;
  height: 500px;
  background-color: #a5a5a5;
  display: inline-block;
  top: -10px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 5px solid #333;
  border-radius: 8px;
  vertical-align: top;
}
#time-chart {
  vertical-align: top;
  width: 900px;
  height: 500px;
  background-color: #a5a5a5;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 40px;
  border: 5px solid #333;
  border-radius: 8px;
}
#how-chart {
  display: inline-block;
  width: 500px;
  height: 500px;
  background-color: #a5a5a5;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 5px solid #333;
  border-radius: 8px;
  vertical-align: top;
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #272522;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar span {
    font-size: 2em;;
  }


  .logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #linkedin-logo:hover,
  .toolbar #github-logo:hover {
    opacity: 0.8;
  }

  .icon {
    display: inline;
    width: 20px;
    height: 20px;
    font-size: 40px;
    opacity: 1;
    cursor: pointer;

  }

  .icon:hover{
    opacity: 0.7;
  }
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .tooltip {
    width: 150px;
    height: 80px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  #tooltip {
    position: absolute;
    pointer-events: none;
    background-color: #333;
    color: #fff;
    padding: 8px;
    border: 3px solid #272522;
    border-radius: 4px;
    z-index: 5;
    visibility: hidden;

  }

  .arrow-button {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #272522;
    cursor: pointer;
    transition: background-color 0.2s ease;
    z-index: 3;
  }
  .arrow-button.bottom {
    top: 20px;
  }
  .arrow-button.top {
    top: 620px;
  }
  .right-button {
    left: 60%;
  }

  .left-button{ 
    left: 38%;
    transform: scaleX(-1);
  }
  
  .arrow-icon {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent white;
    margin: 15px;
    transition: transform 0.2s ease;
  }
  
  .arrow-button:hover {
    background-color: #e0e0e0;
  }
  
  .arrow-button:active {
    background-color: #57514c;
  }
  
  .arrow-button.clicked .arrow-icon {
    transform: translateX(5px);
  }

  #tooltip.visible {
    visibility: visible;
  }

  .info-tooltip {
    width: 300px;
    height: 300px;
    text-align: left;
    font-size: 20px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }